/* google-font-imported */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* css-color-font-variable */
:root {
    --primary-color: #004890;
    --secondary-color: #FF981F;
    --gray-color: #C7C7C7;
    --black-color: #202020;
    --white-color: #FFFFFF;
    --primary-font: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}


/* Typography */

h1 {
    font-size: 28px;
    font-family: var(--primary-font);
    font-weight: bold;
    line-height: normal;
    color: var(--black-color);
}

h2 {
    font-size: 24px;
    font-family: var(--primary-font);
    font-weight: bold;
    line-height: normal;
    color: var(--black-color);
}

h3 {
    font-size: 18px;
    font-family: var(--primary-font);
    font-weight: 500;
    line-height: normal;
    color: var(--black-color);
}

h4 {
    font-size: 16px;
    font-family: var(--primary-font);
    font-weight: 400;
    line-height: normal;
    color: var(--black-color);
}

p {
    font-size: 14px;
    font-family: var(--primary-font);
    font-weight: 400;
    line-height: normal;
    color: var(--black-color);
}

a {
    text-decoration: none;
    color: var(--black-color);
    font-family: var(--primary-font);
}

/* default-button & Secondary Button */

.default-btn {
    font-size: 16px;
    font-weight: 500;
    height: 42px;
    color: var(--white-color);
    background-color: var(--secondary-color);
    padding: 8px 16px !important;
    border: none;
    border-radius: 25px;
    line-height: normal;
}

.default-btn:hover {
    background-color: var(--black-color);
    color: var(--white-color);
}

.secondary-btn {
    font-size: 16px;
    font-weight: 500;
    color: var(--white-color);
    background-color: var(--black-color);
    padding: 8px 16px;
    border-radius: 50px;
    width: 88px;
    height: 36px;
    border: none;
    line-height: normal;
}

.secondary-btn:hover {
    background-color: #2b2b2b;
}

.add-more-btn {
    height: 42px;
    width: 100%;
    font-size: 16px;
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.wrapper {
    padding: 32px 0px;
}

/* Navigation-bar */

.top-bar-mob{
    display: none !important;
}

.top-navbar {
    width: 100%;
    height: 112px;
    box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.15);
}

.top-navbar .top-bar {
    width: 100%;
    height: 42px;
    overflow: hidden;
    background-color: var(--primary-color);
    color: var(--white-color);
}

.top-navbar .top-bar .row {
    height: 42px !important;
}

.top-navbar .top-bar .tollfree a,
.top-navbar .top-bar .top-bar-links a {
    font-weight: 500;
    color: var(--white-color);
}

.top-navbar .top-bar .top-link-search {
    height: inherit;
    display: flex !important;
    justify-content: flex-end !important;
}

.top-navbar .top-bar .top-link-search .top-search-bar {
    height: 42px;
    border-radius: 0px;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
    border: none;

}

.top-navbar .top-bar .top-link-search .input-group {
    width: 294px;
    margin-top: 16px !important;
}

.top-navbar .top-bar .top-link-search .top-search-bar::placeholder {
    padding-left: 16px;
}

/* Navbar */

.top-navbar .navbar {
    background-color: var(--white-color);
    height: 70px;
}

.top-navbar .navbar .navbar-brand img {
    max-width: 100%;
}

.top-navbar .navbar .nav-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-navbar .navbar .navbar-nav .nav-item .nav-link {
    color: var(--black-color);
}

.top-navbar .navbar .navbar-nav .nav-item .active {
    color: var(--black-color);
    font-weight: 600 !important;
}

.top-bar-mob .offcanvas .offcanvas-body .navbar-nav .nav-item .nav-link {
    border-bottom: 1px solid var(--gray-color);
    color: var(--black-color);

}

.top-bar-mob .offcanvas .offcanvas-body .navbar-nav .nav-item .active {
    font-weight: bold;

}

.float-btn{
    display: grid;
    
}
.float-cta-btn {
    z-index:2;
    background-color: var(--white-color);
    padding: 8px;
    margin: 16px;
    display: flex !important;
    justify-content: start;
    align-items: center;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    display: block;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    width: fit-content;
    font-size: 24px;
    font-weight: bold;
    margin-right: 0px;
    right: 0;
}
.float-btn .whatsapp-btn{
    position: fixed;
    right:0;
}
.call-btn {
    position: fixed;
}

.mail-btn {
    position: fixed;
}

.float-cta-btn .content {
    display: none;
    cursor: pointer;
    padding-left: 8px;

}

.float-cta-btn:hover .content {
    display: block;
}


/* Headline Marquee */
.headline {
    width: 100%;
    height: 50px;
    background-color: var(--primary-color);

}

.headline .headline-title {
    background-color: var(--secondary-color);
    color: var(--white-color);
    height: inherit;
    padding: 0px 32px;
}

.headline .headline-title h3 {
    margin-bottom: 0;
    font-weight: 500;
    color: var(--white-color);
}

.headline .headline-marquee p {
    color: var(--white-color);
    font-size: 18px;
    margin-bottom: 0;
}

/* CTA List & Latest Updates Section */

.cta-latest-section .cta-lists .card {
    background-color: #00ADF4;
    border: none;
    border-radius: 24px;
    padding: 18px;
    color: var(--white-color);
    cursor: pointer;
}

.cta-latest-section .cta-lists .card:hover {
    box-shadow: 4px 4px 32px rgba(0, 0, 0, 0.2);
}

.cta-latest-section .cta-lists .row .col-md-6:nth-child(1) .card {
    background-color: #00ADF4;
}

.cta-latest-section .cta-lists .row .col-md-6:nth-child(2) .card {
    background-color: #17D300;
}

.cta-latest-section .cta-lists .row .col-md-6:nth-child(3) .card {
    background-color: #FF4300;
}

.cta-latest-section .cta-lists .row .col-md-6:nth-child(4) .card {
    background-color: #F9C600;
}

.cta-latest-section .card .card-body .card-title {
    display: flex;
    justify-content: start;
}

.cta-latest-section .card .card-body .card-title .card-icon {
    display: block;
    height: 52px;
    width: 52px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-latest-section .card .card-body .card-title,
.card-text,
.card-link {
    color: var(--white-color);
}

.cta-latest-section .card .card-body .card-link:hover {
    color: #202020;
}


.cta-latest-section .latest-update {
    width: 100%;
    height: 100%;
    background-color: #F1F1F1;
    border-radius: 24px;
    padding: 24px;
}

.cta-latest-section .latest-update .update-list .update-link {
    width: 100%;
    display: block;
    padding: 16px 12px;
    border-bottom: 1px solid #D3D3D3;
    color: var(--black-color);
}

.cta-latest-section .latest-update .update-list .update-link:hover {
    background-color: var(--primary-color);
    border-radius: 6px;
    border-left: 5px solid var(--secondary-color);
    border-bottom: none;
}

.cta-latest-section .latest-update .update-list .update-link:hover p {
    color: var(--white-color);
}


.cta-latest-section .latest-update .update-list .update-link p {
    color: var(--black-color);
    font-size: 16px;
}

/* DM's Message */

.dm-message {
    background-color: var(--primary-color);
    padding: 64px;
    border-radius: 24px;
    position: relative;
}

.dm-message .message {
    max-width: 60%;
    margin: auto;
    z-index: 1;
    position: relative;
}

.dm-message .message-content,
.message-title {
    color: var(--white-color);
    text-align: justify;
    z-index: 2;
}

.dm-message .message-quote {
    position: absolute;
    z-index: 1;
    left: 188px;
    top: 36px;
}

/* Stattistc Section */

.stats-section .card {
    border-radius: 24px;
    padding: 8px;
}


.stats-section .card:hover {
    box-shadow: 4px 4px 32px rgba(0, 0, 0, 0.084);
}

.stats-section .card .card-body h1 {
    font-size: 42px;
    font-weight: 600;
    color: var(--primary-color);
}

.stats-section .card .card-body .card-text {
    color: var(--black-color);
    font-size: 14px;
    margin: 0;
}

/* Head Office Section */

.head-office-section .card {
    border-radius: 24px;
    border: none;
    cursor: pointer;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.head-office-section .card .overlay {
    position: absolute;
    opacity: 0.5;
    width: 100%;
    padding: 0;
    border-radius: 24px;
    height: 100%;
    transition: opacity 0.6s;
}

.head-office-section .card:hover .overlay {
    opacity: 0.8;
}

.head-office-section .card .card-body {
    margin: 64px 28px;
    z-index: 2;
    color: var(--white-color);
}

.head-office-section .card .card-body h2 {
    color: var(--white-color);
}

.head-office-section .row .col-md-3:nth-child(1) .card {
    background-image: url('/images/mumbai.jpg');
}

.head-office-section .row .col-md-3:nth-child(2) .card {
    background-image: url('/images/thane.jpg');
}

.head-office-section .row .col-md-3:nth-child(3) .card {
    background-image: url('/images/pune.jpg');
}

.head-office-section .row .col-md-3:nth-child(4) .card {
    background-image: url('/images/nashik.jpg');
}

.head-office-section .row:nth-child(2) .col-md-3:nth-child(5) .card {
    background-image: url('/images/amravati.jpg');
}

.head-office-section .row .col-md-3:nth-child(6) .card {
    background-image: url('/images/aurangabad.jpg');
}

.head-office-section .row .col-md-3:nth-child(7) .card {
    background-image: url('/images/nanded.jpg');
}

.head-office-section .row .col-md-3:nth-child(8) .card {
    background-image: url('/images/nagpur.jpg');
}

.head-office-section .row .col-md-3:nth-child(1) .card .overlay {
    background-color: #05411F;
}

.head-office-section .row .col-md-3:nth-child(2) .card .overlay {
    background-color: #A18700;
}

.head-office-section .row .col-md-3:nth-child(3) .card .overlay {
    background-color: #00234B;
}

.head-office-section .row .col-md-3:nth-child(4) .card .overlay {
    background-color: #A10909;
}

.head-office-section .row .col-md-3:nth-child(5) .card .overlay {
    background-color: #270362;
}

.head-office-section .row .col-md-3:nth-child(6) .card .overlay {
    background-color: #023027;
}

.head-office-section .row .col-md-3:nth-child(7) .card .overlay {
    background-color: #017B72;
}

.head-office-section .row .col-md-3:nth-child(8) .card .overlay {
    background-color: #649301;
}

/* footer section */

footer {
    background-image: url('/images/footer-bg.jpg');
    overflow: hidden;
}

footer .footer-link-section .link-title {
    color: var(--white-color);
    padding-bottom: 4px;
    font-size: 14px;
    border-bottom: 1px solid var(--white-color);
}

footer .footer-link-section,
footer .footer-address {
    border-bottom: 1px solid #353535;
}

footer .footer-link-section ul {
    padding: 0;
}

footer .footer-link-section .footer-link {
    color: var(--white-color);
    padding-bottom: 4px;
    font-size: 12px;
    list-style: none;
}

footer .footer-address p {
    color: var(--white-color);
}

footer .footer-copyright p {
    color: var(--white-color);
}

.owl-carousel {
    position: relative;
}

.owl-carousel .owl-stage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.owl-carousel .owl-item img {
    max-width: 75%;
}

.owl-theme .owl-dots {
    display: none;
}

.owl-carousel .owl-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: 108px;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
    background-color: #2c2c2c !important;
    height: 28px;
    color: var(--white-color) !important;
    width: 28px;
    font-size: 18px !important;
    border-radius: 24px !important;
}

/* Pagination */

.pagination>li>a,
.pagination>li>span {
    border-radius: 50% !important;
    margin: 5px 5px;
    width: 36px;
    height: 36px;
}

/* File a complaint */

.form-select,
.form-control,
#inputGroupFile02 {
    font-size: 16px;
    height: 52px;
}

.complaint-form-section .form-control::placeholder {
    font-size: 14px;
}

.file-upload {
    margin-bottom: 10px;
    background-color: var(--white-color);
    border-radius: 28px;
    border: 1px solid #ced4da;
    height: 52px;
    width: 100%;
    padding: 11px 16px;
}

.file-upload input[type="file"] {
    display: none;
}

.file-upload label {
    background-color: #F9FCFF;
    height: 28px;
    font-size: 14px;
    color: #66718E;
    padding: 4px 8px;
    border: 1px solid #DAECFF;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}

.file-upload label:hover {
    background-color: #e7f1fc;
}

.add-more-btn {
    text-align: right;
    width: fit-content;
    border: none;
    float: right;
}